* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #9096f5;
}

header {
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial;
    background-color: #13f3e0;
    border-bottom: 10px solid darkblue;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #3c4170;
}

header div {
    margin-right: 15px;
    float: right;
    font-size: 20px;
}

header div ul li {
    margin-left: 25px;
    list-style: none;
    padding: 2px;
}

header p {
    font-size: 24px;
    font-family: cursive, 'Times New Roman', Times, serif;
    color: #3c4170;
}

main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 40px;
    border-bottom: 10px solid darkblue;
}

.me img {
    width: 400px;
    height: 500px;
    margin-bottom: 40px;
}

.leo img {
    width: 400px;
    height: 500px;
}

main h2 {
    font-size: 40px;
    margin: 20px 0px 20px 0px;

}

main section {
    border: 5px solid darkblue;
    padding: 5px;
    background-color: black;
    color: white;
}

.about p {
    padding: 5px;
}

.work p {
    padding: 5px;
    margin-bottom: 20px;
}

.work img {
    width: 500px;
    height: 400px;
}

.tba img {
    width: 300px;
    height: 200px;
}

.info p {
    padding: 5px;
}

footer {
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial;
    font-size: 20px;
    text-align: center;
    background-color: #13f3e0;
    color: #3c4170;
}

@media screen and (max-width: 992px) {
    header, main {
      flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    header, main {
      flex-direction: column;
    }
}